@page "/Conta/Criar"
@using Lib.Data
@using Lib.Services
@using Lib.Data.Entities
@using Lib.Dto


<link href="css/login.css" rel="stylesheet" />

<div id="card-login">
    <h3>Registrar</h3>
    <label>Login:</label>
    <input @bind="NovaConta.Nome" placeholder="Digite o seu Login" />

    <label>Senha:</label>
    <input type="password" @bind="NovaConta.Senha" placeholder="Digite a sua Senha" />

    <label>Repita a senha:</label>
    <input type="password" @bind="NovaConta.RepetirSenha" placeholder="Repita a senha" />

    <label>Email:</label>
    <input type="email" @bind="NovaConta.Email" placeholder="Repita a senha" />

    <button id="Criar" class="form-control" @onclick="criarConta">Criar Conta </button>
    <p class="mt-2">Se deseja logar <a href="/Conta">Clique aqui!</a></p>
</div>



@code{
    CriarContaDto NovaConta = new CriarContaDto();

    public void criarConta()
    {
        Services.Conta().Criar(NovaConta);
    }
}
