@page "/Conta"
@page "/Conta/Index"
@using Lib.Data
@using Lib.Services
@using Lib.Data.Entities


<link href="css/login.css" rel="stylesheet" />

<div id="card-login">

    <label>Login:</label>
    <input @bind="Conta.Nome" placeholder="Digite o seu Login" />

    <label>Senha:</label>
    <input type="password" @bind="Conta.Senha" placeholder="Digite a sua Senha" />

    <input type="submit" id="Logar" value="login">
    <a href="/Criar">Criar conta</a>
</div>



@code{
    Conta Conta = new Conta();

}
